			head{
				color: rgb(0, 102, 204);
			}

			div{
				height: 100%;
				width: 100%;
			}

			div.intro {
			 float:left;
		 	 width: 21%;
		 	 height: 100px;
		 }

			div.nav {
				margin-left: 29%;
				width: 79%%;
				height: 120px;
			}


			h1.name{
				color: white;
				font-family: 'Apple Chancery', italic;
				font-style: italic;
				font-size: 150%;
				margin-left: 10px;
				margin-top: 0px;
				margin-bottom: 0px;
			}

			h1.role{
				font-family: 'Apple Chancery', sans-serif;
				font-style: italic;
				color:white;
				opacity: .7;
				font-size: 100%;
				margin-left: 10px;
				font-weight: 200%;
				margin-top: 1px;
			}

			a{
				color: black;
			}
			a:hover{
				color:white;
			}

			a:link{
				text-decoration: none;
				text-decoration-style: dotted;
			}

			button {
				font-family: 'Muli', sans-serif;
				margin: 40px;
				background: white;
				border-collapse: separate;
				color: black;
				font-size: 18px;
				border: solid;
				padding: 2px 15px;
				border-radius: 18px;
				border-width:medium;
				transition: 1s;
			}

			button:hover{
				background-color: black;
				color: white;

			}

			 section {
			 	background: white;
			 	color: gray;
			 	padding: 30px;
			 	display: flex;
			 	flex-direction:row;

			 }

			 .span{
				 background:
			 }

			 .contact-method{
				 width: 220px;
				 height: 200px;
				 display: inline-block;
				 background-color: aqua;
				 margin: 10px;
				 color: black;
				 position: relative;
				 cursor: pointer;
			 }

			 .contact-method i{
				 position: absolute;
				 left: 0;
				 top: 0;
				 width: 100%;
				 height: 100%;
				 font-size: 100px;
				 line-height: 200px;
				 background-color: black;
				 z-index: 1;
				 transition: transform 0.6s;
			 }

			.contact-method span{
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				padding: 10px 0;

			}

			.contact-method:hover i{
				transform:translateY(-40px);
			}

			 li{
			 	display: inline-block;
				 margin-left: 20px;
				 font-size: 200%;
				 color:red;
			 }

			 li:hover{
				 background:white;
			 }


			 section.feature-box {
				 display: flex;

			 }

			 body {
				 background:rgb(50,50,50);
				 font-family: Helvetica Neue, Helvetica, Arial, san-serif;
				 color: white;
				 margin: 0;
				 padding: 0;
				 background-image: url("background2.jpg")
			 }

			 div.first {
				 float:left;
				 background-color: none;
				 width: 48%;
				 height: 200px;
				 margin: 1%;
				 outline-style: groove;
				 outline-color: black;
				 outline-width: thick;
			 }

			 div.second{
				 float:left;
				 width: 48%;
				 height: 90%;
				 margin: 1%;
				 outline-style: dashed;
				 outline-color: black;
				 outline-width: thick;
			 }

			 div.footer{
				 background-color: black;
				 position: absolute;
				 left: 0;
	       bottom: 0;
		     height: 10%;
		     width: 100%;
				 opacity: .5;
			 }

			 footer{
				 background-color: black;
				 position: absolute;

		     height: 5%;
		     width: 100%;
				 opacity: .5;
			 }

			 img.github {
				 width: 40%;
				 height: 38%;
			 }

			 img.linkedin{
				 width: 30%;
				 height: 30%:
			 }

			 li.icon{
				 margin-top: 0px;
			 }

			 div.icon1{
				 float:left;
				 width: 90%;
				 height: 90%;
				 margin: 1%;
			 }

			 div.icon2{
				float:left;
				width: 90%;
				height: 90%;
				margin: 1%;
			 }

			 h3.email{
				 color:white;
				 font-weight: 100;

			 }
