			head{
				color: rgb(0, 102, 204);
			}

			@-webkit-keyframes move {
			  0%   {top: 0px;}
			  25%  {top: 200px;}
			  75%  {top: 50px}
			  100% {top: 100px;}
			}

			div.intro {
			 float:left;
		 	 width: 20%;
		 	 height: 20%;
			 animation-duration: 2s;

		 }

			div.nav {
				float: center;
				width: 80%;
				height: 10%;
				animation: 'animated rollIn' 5s infinite;
			}


			h1.name{
				color: white;
				font-family: 'Apple Chancery', italic;
				font-style: italic;
				font-size: 150%;
				margin-left: 10px;
				margin-top: 0px;
				margin-bottom: 0px;
			}

			h1.role{
				font-family: 'Apple Chancery', sans-serif;
				font-style: italic;
				color:white;
				opacity: .7;
				font-size: 100%;
				margin-left: 10px;
				font-weight: 200%;
				margin-top: 1px;
			}

			a{
				text-decoration: none;
				color: black;
			}
			a:hover{
				color:white;
			}



			button {
				font-family: 'Muli', sans-serif;
				margin: 40px;
				background: white;
				border-collapse: separate;
				color: black;
				font-size: 18px;
				border: solid;
				padding: 2px 15px;
				border-radius: 18px;
				border-width:medium;
				transition: 1s;
			}

			button:hover{
				background-color: black;
				color: white;

			}




			 body {
				 background:rgb(50,50,50);
				 font-family: Helvetica Neue, Helvetica, Arial, san-serif;
				 color: white;
				 margin: 0;
				 padding: 0;
				 background-image: url("background2.jpg")
			 }

			 div.first {
				 float:left;
				 background-color: none;
				 width: 48%;
				 height: 200px;
				 margin: 1%;
				 outline-style: groove;
				 outline-color: black;
				 outline-width: thick;
			 }

			 div.second{
				 float:left;
				 width: 48%;
				 height: 90%;
				 margin: 1%;
				 outline-style: dashed;
				 outline-color: black;
				 outline-width: thick;
			 }

			 footer{
				 background-color: rgba(1,1,1,.5);
				 position: absolute;
				 margin-bottom: 0px;
				 left: 0;
				 bottom: 0;
				 height: 5%;
				 width: 100%;
				 text-align: center;
				 padding: 4px 0px;

			 }

			 div.icons{
				 height: auto;
				 margin: auto;
				 opacity: 1;
			 }

			 div.icons ul{
				 margin: 0px;
				 padding: 0px;
				 text-align: center;
			 }

			 div.icons ul li{
				 display: inline-block;
				 width: 30px;
				 height: 30px;
				 margin: 0% 10%;
				 opacity: 1;
			 }
			 div.icons ul li img{
				 width:30px;
				 height: 30px;
				 opacity: 1;
			 }








			 .span{
				 background:
			 }

			 .contact-method{
				 width: 220px;
				 height: 200px;
				 display: inline-block;
				 background-color: aqua;
				 margin: 10px;
				 color: black;
				 position: relative;
				 cursor: pointer;
			 }

			 .contact-method i{
				 position: absolute;
				 left: 0;
				 top: 0;
				 width: 100%;
				 height: 100%;
				 font-size: 100px;
				 line-height: 200px;
				 background-color: black;
				 z-index: 1;
				 transition: transform 0.6s;
			 }

			.contact-method span{
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				padding: 10px 0;

			}

			.contact-method:hover i{
				transform:translateY(-40px);
			}
