html, body {
	height: 98%;
	margin: .5%;
	background-color: white;
	background-image: url("w1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#left {
	font-family: 'Thasadith';
	font-size: 40px;
  }

p, li {
	font-family: 'Wire One';
	font-weight: bold;
	border-bottom: 1px solid #636363;
	padding: 10px;	
	margin: 2px 2px;
	letter-spacing: .2m;
}

#projects_title {
	font-family: 'Italianno', cursive;

	font-size: 60px;
	color: rgb(2, 130, 300)	;
	font-weight: 800;
	opacity: 1;
	line-height: 1em;
	text-align: center;

}

#about {
	font-size: 30px;
	text-align: center;
	letter-spacing: .05em;
}

#contact {
	display: flex;
	justify-content: space-between;
	height: 8%;
}

#contact a {
	display: block;
	text-align: center;
	transition: all 1s ease;
	color: white;
	padding: 10px;
	font-size: 20x;
	width: 100%;
	height: 70%;
	opacity: 1;

}

.contact a:hover {
	background-color: #000;
  }

  .facebook {
	background: #3B5998;
	color: white;
  }
  
  .twitter {
	background: #55ACEE;
	color: white;
  }
  
  .google {
	background: #dd4b39;
	color: white;
  }
  
  .linkedin {
	background: #007bb5;
	color: white;
  }
  
  .youtube {
	background: #bb0000;
	color: white;
  }

  .github {
	  background: black;
	  color: white;
  }





A {
	text-decoration: none;
	columns: black;
} 

A:visited {
	color: black;
}

A:hover {
	color: #32a6a8;
}

#left, #right, #middle {
	float: left;
	height: 100%;	
	margin: 0 0 .5% .5%;
}

#left, #right {
	width: 20%;
}

#left {
	background-color:#d3d3d3;
	align-items: center;
	align-content: center;
	opacity: .8;
}

#projects {
	align-items: center;
	align-content: center;
}

.position{
	margin:20px 0;
	text-align: center;
	font-weight: 100;
	color: rgb(0, 153, 255);
	font-weight: bold;
}

li, h1 {
	list-style-type: none;
	text-align: center;
	margin: auto;
}

li {
	font-size: 15px;
	padding: 0;
	height: 10%;
	border: 0;
	line-height: 2;
}

#logo {
	margin: auto;
}

#middle {
	width: 58%;
}

#left #logo {
	background-image: url("https://cdn.freebiesupply.com/logos/large/2x/sbl-logo-black-and-white.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	height:200px;
	width:200px;
}



/*
.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 1px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: .9;
}


.button1 {background-color: #4CAF50;} 
.button2 {background-color: #008CBA;} 
.button3 {background-color: red;} 
.button4 {background-color: orange;} 
.button5 {background-color: purple;} 
.button6 {background-color: rgb(0, 2, 128);} 
.button7 {background-color: rgb(147, 67, 163);} 
*/

p a:visited {
	color: #18641a;
}

p a:hover {
	color: teal;
}